* {
    font-weight: 200;
  }

  body {
    width: 100%;  
    margin: 0;
    font-family: titillium;
    background-color: #d5d5d5;
  }
  
  #content{
    margin: auto;
     width: 70%;
 }

  h1{
    font-size: 60px;

  }
  header h1 span{
      color: lightseagreen;
      font-weight: bold;
  }

  header h3{
      color: grey;
      font-weight: 600;
  }
  
  #content{
     margin: auto;
      width: 70%;
  }
  
  header {
    text-align: left;
    padding: 32px;
    font-size: 25px;
    padding-left: 0px;
  }


 
.grid{
    column-count: 3;
    column-gap: 20px;
}


  
.gallery {
    width: 100%;
    vertical-align: top;        
}

.title{
    font-weight: bold;
}  

.image{
    position: relative;
    margin-bottom: 20px;
}  

.text_overlay{
    transition: .5s ease;
    background-image: linear-gradient( to bottom right, rgba(255,255,255, .7) 50%, rgba(255,255,255,0) 50%);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top:0;
}
.text{
    margin: 25px;
}

.subtitle{
    position: relative;
    top: 20px;

}

i{  
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image:hover .text_overlay{
    opacity: 1;      
}

i:hover{
    color: rgb(23, 115, 131);
    transition: .5s ease;
    width: 30px;

}